@import "tailwindcss";

@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@theme {
  --color-primary: #55E5A4;
  --color-background: #151C25;
  --color-text-light: #FFFFFF;
  --color-text-gray: #A9A9A9;
  --font-family-satoshi: 'Satoshi', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-satoshi);
  background-color: var(--color-background);
  color: var(--color-text-light);
}