@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@import "tailwindcss";

@theme {
  --color-primary: #55E5A4;
  --color-background: #151C25;
  --color-text-light: #FFFFFF;
  --color-text-gray: #A9A9A9;
  --color-card-gray: #26313F;
  --font-family-satoshi: 'Satoshi', sans-serif;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-family-satoshi);
    background-color: var(--color-background);
    color: var(--color-text-light);
  }
}


/* SkillsWheel Animations */
@keyframes wheel {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes reverse-wheel {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.animate-wheel {
  animation: wheel 50s linear infinite;
}

.animate-reverse-wheel {
  animation: reverse-wheel 50s linear infinite;
}

.animation-paused {
  animation-play-state: paused;
}
